<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Show Page</title>
</head>
<body>
    <h1>Recipe: <%=recipes.title%></h1>

    <p><img src =<%=recipes.img%>></p>

    <h4>Category: <%=recipes.category%></h4>
    
    <h4>Preparation time: <%=recipes.time%></h4>

    <h2>Description:</h2>
    <p><%=recipes.description%></p>
    
    <h2>Ingredients:</h2>
    <div> 
        <% for(let i=0;i<recipes.ingredients.length;i++){%>
            <ul>
                <%var list = recipes.ingredients[i].split(',')%>
                <% console.log(list) %>
                <% for(let i=0; i <list.length; i++){ %>
                    <li><%= list[i] %> </li>
                <% } %>   
            </ul>
        <%}%>
    </div>

    <h2>Instructions:</h2>
    
    <div>
        <ul>
            <% var rule = recipes.instructions.split(';') %>
            <% console.log(rule) %>
            <% for(let i=0; i <rule.length; i++){ %>
                <li><%= rule[i] %> </li>
            <% } %>
        </ul>     
    </div>

    <h3>Category:</h3>
    <p><%=recipes.category%></p>

    <h3>Food Type:</h3>
    <p></p>
    <h3>Preparation time:</h3>
    <p><%=recipes.time%></p>

    <form method="POST" action="/recipes/<%=recipes._id%>?_method=DELETE">
        <input type="submit" value="Delete this Recipe" >
    </form>  <br>    

    <div>
        <a href="/recipes/<%=recipes._id%>/edit"><button>Edit this recipe</button></a>
    </div>   <br>

    <div>
        <a href="/">Return to Recipe Page</a>
    </div>

</body>
</html>