<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Page</h1>

    <form method="POST" action="/<%=id%>?_method=PUT" >
        <p>Title: </p>
        <input name="title" value='<%=recipe.title%>' placeholder="Edit <%=recipe.title%>">

        <p>Image: </p>
        <input name="img" placeholder="add image here">

        <p>Description: </p>
        <textarea name="description" cols="30" rows="10" value='<%=recipe.description%>' placeholder='Edit the description'></textarea>

        <p>Ingredients: </p>
        <textarea name="ingredients" cols="30" rows="10" value='<%=recipe.ingredients%>' placeholder='Edit the ingredients'></textarea>

        <p>Instructions: </p>
        <textarea name="instructions" cols="30" rows="10" value='<%=recipe.instructions%>' placeholder='Edit the instructions'></textarea>

        <p>Category: </p>
        <input name="category" placeholder="add a category">

        <p>Food Type:</p>
     
        <select id='foodType' name ='foodType' onchange = "" >  
            <option> ---Select Option--- </option>  
            <option> Entree </option>  
            <option> Appetizer </option>  
            <option> Dessert </option>  
          
            </select>  


      <br><br>
        <input type="submit" value="Edit recipe">
    </form>
    
</body>
</html>