<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Index</title>
    <link rel="stylesheet" href="/recipes/index.css">
</head>
<body>
    <h1>Recipes Index (Home)</h1>
    <div>
        <ul style="list-style: none;">
        <% for(let i=0;i<recipes.length;i++){%>
            <li>
                <a href="/recipes/<%=recipes[i]._id%>">
                    <%= recipes[i].title%>
                </a>
                <div>
                    <img src=<%= recipes[i].img %>>
                    
                </div>
                <form action='/recipes/<%=recipes[i]._id%>?_method=DELETE' method='POST'>
                    <input type="submit" value="Delete <%=recipes[i].title%>">
                </form>
            </li>
        <%}%>
        </ul>
    </div>
    <a href='/recipes/new'>Add a new recipe!</a>

    <br><br>
    <a href="/">Return to Home Page</a>

    <br><br>
    <a href="/category">Browse Recipes by categories</a>
    
</body>
</html>