<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <title>Recipes Index</title>
    <link rel="stylesheet" href="/recipes/index.css">
</head>
<body>
    <div class= "container-fluid ">
        <nav class="navbar navbar-light">
            <div class="container">
              <a class="navbar-brand logo" href="/">
                <img src="../images/Tables_of_Contents.png" alt="" height="300" >
              </a>
            </div>
          </nav>
        <!-- <div class="navbar-brand">
            <img src="../images/Tables_of_Contents.png">
        </div>
        <div class="nav-bloc"><h1>Recipes Index (Home)</h1></div> -->
        
        <div class="our_container">
            <!-- <ul style="list-style: none;"> -->
                <% for(let i=0;i<recipes.length;i++){%>
                    <!-- <li> -->
                        <div class="card">
                            <img src=<%= recipes[i].img %>>
                            <div class="recipe_title">
                                <a href="/recipes/<%=recipes[i]._id%>">
                                <h4><%= recipes[i].title%></h4>
                                </a> 
                                <form action='/recipes/<%=recipes[i]._id%>?_method=DELETE' method='POST'>
                                    <input type="submit" value="Delete <%=recipes[i].title%>">
                                </form>
                            </div>
                        </div>        
                    <!-- </li> -->
                <%}%>
        </div>    <!-- </ul>  -->
   
    <br><br>
    <button class="buttons"><a href='/recipes/new'>Add a new recipe!</a></button>
    <br><br>
    <button class="buttons"><a href="/">Return to Home Page</a></button>
    <br><br>
    <button class="buttons"><a href="/category">Browse Recipes by categories</a></button>
=======
    <%- include('../partials/head', {title: 'Recipes index'}); %>
    <title>Recipes Index</title>
    <link rel="stylesheet" href="/recipes/index.css">
</head>
<body>
    <h1>Recipes Index (Home)</h1>
    <%- include('../partials/navbar'); %>

    <div>
        <ul style="list-style: none;">
        <% for(let i=0;i<recipes.length;i++){%>
            <li>
                <a href="/recipes/<%=recipes[i]._id%>">
                    <%= recipes[i].title%>
                </a>
                <div>
                    <img src=<%= recipes[i].img %>>
                    
                </div>
                <form action='/recipes/<%=recipes[i]._id%>?_method=DELETE' method='POST'>
                    <input type="submit" value="Delete <%=recipes[i].title%>">
                </form>
            </li>
        <%}%>
        </ul>
>>>>>>> main
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
</body>
</html>