<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Show Page</title>
    <link rel="stylesheet" href="/recipes/show.css">
</head>
<body>
 
        
  
    <div class='container'>
        
        <img class='logo' src='../images/tables_contents2.png'>
    <div class='top_row'></div>
    <h1><%=recipes.title%></h1>

    <div class = 'three_buttons'>
        <button class="buttons"><a href="/recipes">Return to Recipe Page</a></button>
        <button class = 'buttons'><a href="/recipes/<%=recipes._id%>/edit">Edit this recipe</a></button>
    <form method="POST" action="/recipes/<%=recipes._id%>?_method=DELETE">
        <button class='buttons' type="submit" value="Delete this Recipe" ><a>Delete this recipe</a></button>
    </form>
    </div>

    <p><img  class='card' src =<%=recipes.img%>></p>
    <div class ='first'>
    <h4>Category: <%=recipes.category.title%></h4>
  

    <h4>Food Type: <%= recipes.foodType %></h4>
    
    <h4>Preparation time: <%=recipes.time%></h4>
    </div>
    <h2>Description:</h2>
    <p><%=recipes.description%></p>
    <div class= "column">
    
    <div> 
        <h2>Ingredients:</h2>
        <% for(let i=0;i<recipes.ingredients.length;i++){%>
            <ul>
                <%var list = recipes.ingredients[i].split(',')%>
                <% console.log(list) %>
                <% for(let i=0; i <list.length; i++){ %>
                    <li><%= list[i] %> </li>
                <% } %>   
            </ul>
        <%}%>
    </div>

    
    
    <div>
        <h2>Instructions:</h2>
        <ol>
            <% var rule = recipes.instructions.split(';') %>
            <% console.log(rule) %>
            <% for(let i=0; i <rule.length; i++){ %>
                <li><%= rule[i] %> </li>
            <% } %>
        </ol>     
    </div>
</div>

     <br>    

    
</div>
</body>
</html>